@import "./scss/variables";

*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 24px;

}
body{
    background-color: #1115;
    overflow-x: hidden;


}


@import "./scss/header";

main{
    body.darkMode &{
        background-color: $grisOscuro;
    }
    padding-top: 4rem;
    .carrousel-inner{
        overflow: hidden;
        img{
            object-fit: contain;
        }
    }
    .fondo{
        background-color: $grisOscuro;
        width: 80%;
        height: 100%;
        position: absolute;
        top: 0;
        right: -20%;
        body.darkMode &{
            background-color: $sombrasClaras;
            // color: $grisOscuro;
            // box-shadow:  ;
        }
    }
    
    .skew1{
        transform: skewX(15deg);
    }
    
    .skew2{
        transform: skewX(-30deg);
    }
    
    .skew3{
        transform: skewX(25deg);
    }
    .textoCarrousel{
        display: flex;
        text-align: start;
        position: absolute;
        left: auto;
        top: 0%;
        background-color: transparent;
        color: $sombrasClaras;
        // color: black;
        z-index: 2;
        body.darkMode &{
            // background-color: $sombrasClaras;
            color: $grisOscuro;
            // box-shadow:  ;
        }
    }
    .fontAmatic{
        font-family: $fuenteInformal;
    
    }
    .fontAnton{
        font-family: $fuenteSeria;
        text-shadow: .05rem .05rem 0 #777;
    }
    .paraPirin{
        p, h2, ul, li{
            margin-left: 2rem;
            position: relative;
            top:0;
            left: 10;
            color: $grisOscuro;
            background-color: transparent;
            z-index: 2;
        } 
    }
    .fondoParaPirin{
        position: relative;
        &::before{
            content: "";
            transform: skewX(350deg);
            z-index: 1;
            background-color: $sombrasClaras;
            width: 100vw;
            height: 100%;
            overflow: hidden;
            position:absolute;
            top: 0;
            right:-15vw;
        }
    }
    .imgCositas{
        object-fit: cover;
        z-index: 0;
    }
}

@import "./scss/jugueteoJSMenu";

@import "./scss/modalLoggin";